@import "tailwindcss" source(none);

@source "./**/*.{ts,tsx}";
@source "../components/badge.tsx";
@source "../components/button.tsx";
@source "../components/divider.tsx";
@source "../components/heading.tsx";
@source "../components/input.tsx";
@source "../components/text.tsx";
@source "../components/textarea.tsx";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;
}

body {
  margin: 0;
  background: var(--color-zinc-50);
}
